:root {
	--azul-escuro: #000B58;
	--branco: #fff;
	--amarelo-claro: #FFF4B7;
	--verde: #006A67;
	--azul: #003161;
	--laranja: #c1531b;
	--amarelo-escuro: #f8bf2d;

}

body {
	background-color: var(--branco);
}

.conteudo {
	display: flex;
	flex-direction: row;
	grid-template-columns: 1fr 1fr; /* duas colunas de larguras iguais */
	gap: 0.5em;   
}

.LetraMusica{
	width: 50%;

}

.TraduçãoMusica{
	width: 50%;

}

.original {
	color: var(--azul);
	font-size: 20px;        
	text-align: center;         
}
.original:hover {
	background-color: #1d110b23;
}

.traducao {
	color: var(--azul);
	font-size: 20px;         
	text-align: center;         
}
.traducao:hover {
	background-color: #1d110b23;
}

.infos {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: 100%;
	text-align: center;
}

.infos h1 {
	font-size: 3rem;
	color: var(--amarelo-escuro);
	font-weight: 800;
}

.infos p {
	color: var(--azul);
	font-size: 20px;
}

.sessao_comentarios {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.avaliar {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	height: fit-content;
	width: fit-content;
	font-size: 2.5rem;
}

.star-icon {
	list-style-type: none;
	cursor: pointer;
	color: var(--amarelo-escuro);
}

.star-icon::before {
	content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
	content: "\2606";
}

.star-icon:hover ~ .star-icon::before{
	transition: 3s;
	content: "\2606";
}

.avaliar:hover .star-icon::before{
	transition: 3s;
	content: "\2605";
}

.ipt_comentario {
	width: 50%;
	height: 3rem;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	border: none;
	color: var(--amarelo-claro);
	background-color: var(--azul);
}

.ipt_comentario::placeholder{
	color: var(--amarelo-claro);
}

.sessao_comentarios button {
	color: var(--amarelo-claro);
	border: none;
	font-size: 20px;
	padding: 10px 20px;
	width: 8rem;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--azul);
}

.sessao_comentarios button:hover {
	background-color: #fa702bdb;
	transition: 0.5s;
}

.comentarios {
	width: 1005;
	height: fit-content;
	margin-bottom: 4rem;
}
.comentario {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #fff4b79f;
	width: 80%;
	border-radius: 15px;
}

#sobre_user {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sobre_user svg {
	width: 20px;
	color: var(--amarelo-escuro);
}

#sobre_user p {
	font-size: 25px;
}

.comentario h1 {
	color: var(--azul-escuro);
}

.comentario p {
	color: var(--azul);
	font-size: 20px;
	font-weight: 500;
}

#video_youtube {
	margin-top: 2rem;
	margin-bottom: 2rem;
}