:root {
	--azul-escuro: #000B58;
	--branco: #fff;
	--amarelo-claro: #FFF4B7;
	--verde: #006A67;
	--azul: #003161;
	--laranja: #c1531b;
	--amarelo-escuro: #f8bf2d;

}

.background {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
	background-image: url(../assets/imgs/piano.jfif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #000a5881;
	height: fit-content;
	padding: 1rem;
	width: 25rem;
	border-radius: 10px;
	gap: 0.6rem;
	color: var(--branco);
}

.form h2 {
	margin-bottom: 1rem;
	font-size: 40px;
	font-weight: 600;
}

.form button {
	font-size: 20px;
	padding: 10px 20px;
	width: 8rem;
	border-radius: 5px;
	border: none;
	background-color: var(--amarelo-claro);
	cursor: pointer;
}

.form button:hover {
	background-color: #f8bf2da9;
	transition: 0.5s;
}

.form label {
	font-size: 18px;
	font-weight: 700;
}

.form input {
	width: 80%;
	background-color: #110b08a2;
	color: var(--branco);
	border: solid 2px var(--marrom);
	border-radius: 15px;
	height: 1.8rem;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	outline: none;
}

#sel_gosto_musical {
	background-color: #110b08a2;
	color: var(--branco);
	border: solid 2px var(--marrom);
	padding: 2px;
}

.form input:hover {
	border-color: var(--amarelo-claro);
	transition: 0.5s;
}

.contato {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #000a58a3;
	height: fit-content;
	padding: 1rem;
	width: 25rem;
	border-radius: 10px;
	gap: 0.6rem;
	color: var(--branco);
}

.contato p {
	font-size: 15px;
}

.contato h1 {
	margin-bottom: 1rem;
	font-size: 30px;
	font-weight: 600;
}

.contato h2 {
	font-size: 20px;
}

