:root {
	--azul-escuro: #000B58;
	--branco: #fff;
	--amarelo-claro: #FFF4B7;
	--verde: #006A67;
	--azul: #003161;
	--laranja: #c1531b;
	--amarelo-escuro: #f8bf2d;

}

.pagina {
	background-color: var(--verde);
	height: 80vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.form {
	background-color: var(--amarelo-claro);
	padding: 1rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.escrever {
	width: 100%;
	gap: 0.5rem;
	display: flex;
	justify-content: center;
}

.escrever input {
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	border: none;
	color: var(--amarelo-claro);
	background-color: var(--azul);
	margin-top: 2rem;
	height: 3rem;
	outline: none;
	width: 80%;
}

.escrever input::placeholder{
	color: var(--amarelo-claro);
}

.escrever button {
	color: var(--amarelo-claro);
	border: none;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 2rem;
	height: fit-content;
	background-color: var(--azul);
	height: 3rem;
	width: 20%;
}
.escrever button:hover{
	background-color: #fa702bdb;
	transition: 0.5s;
}