:root {
	--azul-escuro: #000B58;
	--branco: #fff;
	--amarelo-claro: #FFF4B7;
	--verde: #006A67;
	--azul: #003161;
	--laranja: #c1531b;
	--amarelo-escuro: #f8bf2d;

}


.background {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	background-color: var(--verde);

}

.background .bemvindo {
	margin-top: 4rem;
	margin-bottom: 4rem;
	width: 100%;
	text-align: center;
	color: var(--amarelo-claro);
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.imagem img{
	width: 100%;
}

.bemvindo h1 {
	font-size: 30px;
}

.cards {
	color: var(--amarelo-claro);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-left: 4rem;
	margin-bottom: 4rem;
	width: 50%;
}

.card {
	display: flex;
	justify-content: start;
	width: 70%;
}

.card a {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 20rem;
	background-color: #000a5881;
	border-radius: 40px;
	text-decoration: none;
	border: ridge 3px var(--amarelo-claro);
	color: var(--beje);
	transition: 0.5s;
}


.card a:hover {
	transform: scale(1, 1.1);
	background-color: #c1521b5d;
}

.card a svg {
	margin-bottom: 0.5rem;
	height: 2rem;
	width: 4rem;
}

