@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

:root {
	--amarelo-claro: #ffc933;
	--branco: #fff;
	--marrom: #533527;
	--marrom-claro: #945031;
	--beje: #eac197;
	--marrom-escuro: #1d110b;

}

header {
	background-color: var(--marrom-escuro);
}

.container {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul {
	height: 3rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	list-style: none;
	gap: 5rem;

}

header img {	
	width: 4rem;
	cursor: pointer;
}

li a {
	font-size: 18px;
	text-decoration: none;
	color: var(--beje);
	cursor: pointer;
	position: relative;
}

li a::before { /*pseudoelemento*/
	content: '';
	background-color: var(--amarelo-claro);
	width: 0; 
	height: 0;
	bottom: 0;
	position: absolute;
	transform: translate(0%, 60%); 
	transition: width .2s, height .2s; 

}

li a:hover::before {
	height: 2px;
	width: 100%;	
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 8rem;
	color: var(--beje);
	background-color: var(--marrom-escuro);
	
}

footer .direita{	
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: center;
}

.direita h3 {
	font-weight: 600;
	font-size: 25px;
}

.made {
	font-weight: 700;
	font-size: 20px;
}

.form {
	height: 90vh;
	width: 100%;
	/* background-image: url(../img/pesquisa.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: var(--beje);
}

.pesquisa {
	display: flex;
	align-items: start;
	justify-content: center;
	width: 100%;
}

.pesquisa input {
	margin-top: 3rem;
	margin-right: 1rem;
	width: 60%;
	height: 3rem;
	border-radius: 30px;
	text-align: center;
	border: solid var(--beje) 2px;
	background-color: var(--marrom-escuro);
	font-size: 20px;
	color: var(--branco);
}

.pesquisa input::placeholder{
	color: var(--branco);
}

.pesquisa button {
	margin-top: 2.5rem;
	height: 4rem;
	width: 4rem;
	border: none;
	border-radius: 40px;
	background-color: var(--amarelo-claro);
}

.pesquisa button:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color: #fa702ba2;
}

.cards {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.cards .card {
	background-color: #1d110ba1;
	width: 65%;
	display: flex;
	color: var(--branco);
	margin-top: 2rem;
	padding: 2rem;
	justify-content: space-between;
}
.cards .card_left {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cards .card_left a{
	text-decoration: none;
	color: var(--amarelo-claro);
	font-size: 2rem;
}

.cards .card_left p{
	font-size: 20px;
}

.cards .card_right {
	justify-content: space-between;
	font-size: 2rem;
}

.card_right svg {
	margin-left: 5px;
	width: 20px;
	color: var(--amarelo-claro);
}


